@media(min-width:0px) and (max-width:480px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
/* Header Css Start  */
.header{
    height: auto;
    width: 100%;
    background-color: rgb(37, 59, 78);
    display: flex;
    display: inline;
    
}
.logo{
    height: 60px;
    width: 20%px;
    display: flex;
    margin-left: 120px;
}
.logo img{
    margin-top: 12px;
    height: 60px;
    width: 480px;  
}
.logoname{
    line-height: 80px;
    font-size: 25px;
    color: rgb(46, 46, 46);
    font-weight: bolder;  
}
.navbar{
    height: 80px;
    width: 480px;
    margin-left: 0px;
    margin-top: 20px;
    
}
.navul{
    text-align: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    display: inline;
    line-height: 60px;
    margin-left: 0px;
}
.navli{
    list-style: none;
    padding: 0px 0px;
}
.navli:hover{
    background-color:rgba(255, 68, 0, 0.712);
}
.navli a{
    text-decoration: none;
    color: black;
}
.icon{
    line-height: 0px;
    margin-left: 0;
    margin-top: 100px;
    
}
.icon i{
   margin-left: 53vh; 
   margin-top: 60px;
}
.icon:hover{
    background-color: rgba(255, 68, 0, 0.712);
}
.buttan{
    margin-left: 0px;
}
.buttan button{
    height: 30px;
    width: 110px;
    background-color: rgba(255, 68, 0, 0.712); 
    border: none;
    margin-left: 46vh;
}
/* Fruit Shop Div Start */
.fruit-main{
    height: 500px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    display: inline;
}
.fruit-content{
    width: 100%;
}
.f-heading{
    font-size: 50px;
    margin-left: 65px;
    margin-top: 80px;
}
.f-pera{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
.f-buttan{
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}
.s-btn{
    height: 50px;
    width: 180px;
    background-color:rgba(255, 68, 0, 0.712);
    color: white;
    font-weight: bold;
    border: none;
}
.c-btn{
    height: 50px;
    width: 180px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    
}
.img-main{
    width: 100%; 
}
.slide-img img{
    width: 400px;
    margin-top: 80px;
    margin-left: 40px;
}
/* Our Services */
.main-services{
    width: 100%;
    background-color: white;
}
.s-content{
    height: 100px;
}
.s-heading{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.s-pera{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.box-main{
    display: flex;
    display: inline;
    justify-content: center;
}
.box-one{
    width: 430px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px 25px;
}
.box-one img{
    padding-left: 170px;
    padding-top: 30px;
}
.orange-heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: rgb(255, 68, 0) ;
}
.orange-pera{
    font-size: 20px;
    padding: 10px;
    justify-content: center;
}
.box-two{
    width: 430px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px 25px;
}
.box-two img{
    padding-left: 170px;
    padding-top: 30px;
}
.grapes-heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: rgb(255, 68, 0) ;
}
.grapes-pera{
    font-size: 20px;
    padding: 10px;
    justify-content: center;
}
.box-three{
    width: 430px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px 25px;
}
.box-three img{
    padding-left: 170px;
    padding-top: 30px;
}
.gauva-heading{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: rgb(255, 68, 0) ;
}
.gauva-pera{
    font-size: 20px;
    padding: 10px;
    justify-content: center;
}
.s-button{
    margin-left: 140px;
    margin-top: 10px;
 }
 .r-buttan{
     height: 50px;
     width: 200px;
     background-color: black;
     color: white;
     font-weight: bold;
     font-size: 20px;
     border: none;
 }
 /* Fresh Fruits */
.fresh-main{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.fresh-content{
    width: 100%;
    height: 100px;
}
.fresh-heading{
    font-size: 35px;
    text-align: center;
    padding: 20px;
}
.fresh-pera{
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}
.org-main{
    margin-top: 110px;
    height: auto;
    width: 95vw;
    display:grid;
    /* justify-content: center; */
}
.text-org{
    height: auto;
    width: 93vw;
    /* background-color: red; */

}
.text-org h1{
    font-size: 28px;
    margin-left: 62px;
}
.text-org p{
    margin: 19px 65px;
    font-size: 20px;
    width: 75%;
}
.text-org button{
    height: 44px;
    width: 200px;
    margin: 22px 135px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;

}
.img-org{
    height: auto;
    width: 90vw;
    /* background-color: yellow; */

}
.img-org img{
    padding: 20px;
    height: auto;
    width: 100%;
    margin-left: 15px;
}

/* grapes  */

.grp-main{
    margin-top: 110px;
    height: auto;
    width: 95vw;
    display:grid;
}
.text-grp{
    height: auto;
    width: 93vw;
    /* background-color: red; */

}
.text-grp h1{
    font-size: 28px;
    margin-left: 62px;
}
.text-grp p{
    margin: 19px 65px;
    font-size: 20px;
    width: 75%;
}
.text-grp button{
    height: 44px;
    width: 200px;
    margin: 22px 135px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;

}
.img-grp{
    height: auto;
    width: 50vw;
    /* background-color: yellow; */

}
.img-grp img{
    padding: 20px;
    height: auto;
    width: 100%;
    margin-left: 120px;
}

/* For Guava */
.guv-main{
    margin-top: 110px;
    height: auto;
    width: 95vw;
    display:grid;
}
.text-guv{
    height: auto;
    width: 93vw;
    /* background-color: red; */

}
.text-guv h1{
    font-size: 28px;
    margin-left: 62px;
}
.text-guv p{
    margin: 19px 65px;
    font-size: 20px;
    width: 75%;
}
.text-guv button{
    height: 44px;
    width: 200px;
    margin: 22px 135px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;

}
.img-guv{
    height: auto;
    width: 80vw;
    /* background-color: yellow; */

}
.img-guv img{
    padding: 20px;
    height: auto;
    width: 100%;
    margin-left:50px;
}
/* testy*/
.tasty-main{
    height: 52vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-image: url(images/tasty-image.png);
    display: grid;
    align-content: center;
    justify-content: center;
}
.tasty-main h1{
    font-size: 10vh;
    color: white; 
}
/* Testimonial css */
.testimonial-main{
    margin-top: 10vh;
}
.testi-heading{
    text-align: center;
}
.testi-pera{
 text-align: center;
 font-size: 6vh;
 margin-top: 3vh;
}
.testy-img{

    display: grid;
    justify-items: center;
}
.testy-img img{
 align-items: center;
}
.testy-img h3{
    font-size: 80px;
}
.testy-img button{
    height: 50px;
    width: 80px;
    background-color: rgba(255, 68, 0, 0.904);
    border: none;
    margin: 10px 0px;
}                                                             
.testy-img p{
 width: 80%;
 font-size: 24px;
 text-align: justify;
 margin: 20px;
}
.map{
    width: 100%;
    margin-top: 50px;
}
.map iframe{
    height: 400px;
    width: 100%;
}

footer{
    height: auto;
    width: 100%;
    align-items: center;
}
.footer-main{
    margin-left: px;
    margin-top: 80px;
    display: flex;
    display: inline;
}
.fruit{ 
    margin-left: 0px;
}
.fruit h3{
    font-size: 50px;
    text-align: center;
}
.fruit-li{
    list-style: none;
    padding: 10px 0px;
    text-align: center;
}
.fruit-li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/* footer */
.foot-services{
    margin-left: 0px;

}
.foot-services h3{
font-size: 50px;
text-align: center;
}
.services-ul{
 margin: 0;
}
.services-li{
    list-style: none;
    padding: 10px 0px;
    text-align: center;
}
.services-li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
/* list */
.foot-list{
    margin-left: 0px;
}
.foot-list h3{
font-size: 50px;
text-align: center;
}
.list-ul{
   
}
.list-li{
list-style: none;
padding: 10px 0px;
text-align: center;
}
.list-li a{
text-decoration: none;
color: black;
font-size: 20px;
}
/* Follow */
.follow-us{ 
    margin-left: 0px;
   }
   .follow-us h3{
       font-size: 50px;
       text-align: center;
   }
   .foot-icon{
    margin-left: 150px;
   }
   .follow-us h5{
       font-size: 30px;
       margin-top: 15px;
       text-align: center;
   }
   .foot-icon Img{
       margin-top: 15px;
   }
   .subscribe{
   
   }
   .subscribe input{
       height: 5vh;
       width: 45vh;
       margin-top: 15px;
       margin-left: 160px;
   }
   .subscribe button{
       height: 50px;
       width: 150px;
       display: grid;
       margin-top: 10px;
       background-color: orangered;
       color: white;
       border: none;
       font-size: 20px;
       padding-top: 15px;
       margin-left: 170px;
   }
   

}